.wrapper-1_HaEi {
  display: none !important;
}

.sidebar-1tnWFu {
  display: none !important;
}

.title-31SJ6t {
  display: none !important;
}

.profilePanel-2VBkh8 {
  display: none !important;
}

.buttons-uaqb-5 {
  display: none !important;
}

[id^="message-accessories"] {
  display: none;
}

[class^="membersWrap"] {
  display: none;
}

[class^="typing"] {
  display: none;
}
